.container {
    
    min-width: 400px;
    padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
    margin-left: auto;
    text-align: justify;
        
}
.form{
  margin-left: 300px;
}
.destination{
  margin-left: 100px;
}
.nav-item{
    margin-left: 200px;
}
    
