.container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	text-align: justify;
}

.card-text
{
	hyphens: auto;
}


.sous-image
{
	margin-top: 20px;
}

/* JS bouton scrool */
#scrollUp
{
	position: fixed;
	bottom : 10px;
	right: 10px;
	opacity: 1;
}

#scrollUp img
{
	width: 50px;
	height: 50px;
}

/* CSS pied de page */
.btn-facebook,.btn-fb
{
	background:#3b5998;
	color:white;
}

.btn-ins
{
	background:#517fa4;
	color:white;
}

.btn-yt
{
	background:#bb0000;
	color:white;
}

.btn-gplus
{
	background:#dd4b39;
	color:white;
}

footer
{
	background:#333333;
	padding:10px;
}

.copyright
{
	color:white;
	text-align:center;
}

li
{
	display:inline;
}


/*CSS page contact */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

.row s7 > div
{
	display: flex;
}

.card-title
{
	margin-bottom: 30px;
	width: 100%;
  hyphens: auto;
}

.card
{
	margin-bottom: 30px;
	width: 100%;
	text-align: justify;
}

.s7
{
	font-family: 'Nothing You Could Do', cursive;
}

.s7 .card
{
	border: solid 5px #666;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	padding: 1em;
  }

.btn:hover{
color:black;
}

.button{
  text-align: center;
}

@media screen and (min-width: 1200px){
  .container{
    max-width: 100%;
  }
  body > .container{
    max-width: 95%;
  }
}
