/* MISE EN PAGE DU BODY */
body
{
	font-family: "Comic Sans", Arial, Helvetica, sans-serif;
}

body > .container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	text-align: justify;
}

@media screen and (min-width: 1200px)
{
	.container
	{
		max-width: 100%;
	}

	body > .container
	{
		max-width: 95%;
	}
}

h2, h3, h5
{
	text-align: center;
	font-style: italic;
}

h1
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

p
{
	text-align: justify;
	font-size: 20px;
}

/* BOUTON SCROLL */
#scrollUp
{
	position: fixed;
	bottom : 10px;
	right: 10px;
	opacity: 1;
}

#scrollUp img
{
	width: 50px;
	height: 50px;
}

/* FOOTER */
.btn-facebook,.btn-fb
{
	background:#3b5998;
	color:white;
}

.btn-ins
{
	background:#517fa4;
	color:white;
}

.btn-yt
{
	background:#bb0000;
	color:white;
}

.btn-gplus
{
	background:#dd4b39;
	color:white;
}

footer
{
	background:#333333;
	padding:10px;
}

.copyright
{
	color:white;
	text-align:center;
}

li
{
	display:inline;
}

/*CSS PAGE CONTACT */
.row s7 > div
{
	display: flex;
}

.btn:hover
{
	color:black;
}

.button
{
	text-align: center;
}

/* NAVIGATION PAR IMAGES */
*
{
	margin: 0;
	padding: 0;
}

.accordian
{
	width: 100%;
	height: 320px;
	overflow: hidden;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul
{
	width: 1200px;
}

.accordian li
{
	position: relative;
	display: block;
	width: 160px;
	float: left;
	border-left: 1px solid #888;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.accordian ul:hover li
{
	width: 40px;
}

.accordian ul li:hover
{
	width: 640px;
}

.accordian li img
{
	display: block;
}

.image_title
{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1217px;
}

.image_title a
{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

.shadow
{
	box-shadow: 0 25px 30px rgba(0,0,0,.5);
}

/*photo michou page a propos*/
.imgeBoxm
{
	background: #f00;
	box-sizing: border-box;
	border-left: 100% solid #000;
	border-bottom: 400px solid transparent;
	background: url(BLOG/michou.jpg);
}

/* ARTICLES PAGE INDEX */
.clrd-font
{
	background: #FF512F;
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
	background: linear-gradient(to right, #F09819, #FF512F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-primary
{
	background-color:transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size:20px;
	text-transform: uppercase;
	border-radius: 0px;
}

.btn-primary:hover
{
	background-color:transparent;
	border-color: #d6962c;
	color: #d6962c;
	border-radius: 20px;
}

.single_portfolio_text
{
	display:inline-block;
	padding:0;
	position:relative;
	overflow:hidden;
}

.single_portfolio_text img
{
	width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay
{
	top:5%;
	left: 5%;
}

.portfolio_images_overlay
{
	width: 90%;
	height: 90%;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin: 0 auto;
	top: -100%;
	left: 5%;
	position: absolute;
	transition:.6s;
}

.portfolio_images_overlay h6
{
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	border: 2px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* map google */
#map
{
	width: 1500px;
	height: 300px;
}

/* bouton contact */
.button_custom
{
	background-color: cadetblue;
	margin-left: 45%;
	font-size: 25px;
}

/*ARTICLE AVEC IMAGE DE FOND SF ET SY*/
.contentsf:hover
{
	color: black;
	text-align: justify;
	background-color: #B5B9BA;
	background-image: none;
	position: relative;
	opacity: 1.7;
}

.contentsf
{
	color:black;
	font-weight: bold;
	background: no-repeat;
	background-image: url(BLOG/fdtsf.jpg);
	opacity: 1;
	position: relative;
}

.contentsy:hover
{
	color: black;
	text-align: justify;
	background-color: #B5B9BA;
	background-image: none;
	position: relative;
	opacity: 1.7;
}

.contentsy
{
	color:white;
	font-weight: bold;
	background: no-repeat;
	background-image: url(BLOG/syfd.jpg);
	opacity: 0,1;
	position: relative;
}

@media (max-width: 575.98px)
{
	.contentsf
	{
		background:none;
		font-weight: normal;
	}

	.contentsf:hover
	{
		background-color: white;
	}
}

@media (max-width: 575.98px)
{
	.contentsy
	{
		background:none;
		font-weight: normal;
		color:black;
	}

	.contentsy:hover
	{
		background-color: white;
	}

}




